<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div th:fragment="header">
    <div class="header">
        <a href="#" class="logo">CompanyLogo</a>
        <div class="header-right">
            <a sec:authentication="name"></a>
            <a th:href="@{/logout}">Logout</a>
        </div>
        <div id="current-login-user-id" style="display: none" sec:authentication="principal.id"></div>
    </div>
</div>
</body>
</html>
